<div class="goals">
  <h2>
    Goals
  </h2>
  <h3>
    <a href="/home" class="home-link">Back to Home</a>
  </h3>
  <div class="goal-list">
    {{#each userGoals}}  
      <div class="goal goal-completed-{{completed}}">
        <!-- <p class="goal-_id">{{_id}}</p> -->
        <!-- <p class="goal-userID">{{userID}}</p> -->
        <div class="goal-stat-row">
          <p class="goal-exerciseType">{{exerciseType}}</p>
          <p class="goal-description">{{description}}</p>
          <p class="goal-target">{{target}}</p>
        </div>
        <div class="goal-stat-row">
          <p class="goal-startDate">{{startDate}}</p>
          <p class="goal-endDate">{{endDate}}</p>
        </div>
        <div class="goal-milestones">
          <div class="timeline p-4 block mb-4">
            
            {{#each milestones}}
              <div class="tl-item">
                <div class="tl-dot {{#if completed}}b-complete{{else}}b-incomplete{{/if}}"></div>
                <div class="tl-content">
                  <div class="">{{value.[0]}}</div>
                  <div class="tl-date text-muted mt-1">{{value.[1]}}</div>
                </div>
              </div>
            {{/each}}
            
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#newGoalForm" aria-expanded="false" aria-controls="newGoalForm">
    New Goal
  </button>

  <div class="collapse" id="newGoalForm">
    <div class="card card-body">
      <form id="newgoal-form" action="/goals" method="POST" class="new-goal-form">

        <label for="exerciseType">Excercise Type</label>
        <input type="text" name="exerciseType" placeholder="Running"/>

        <label for="description">Description</label>
        <textarea name="description" placeholder="Description"></textarea>

        <label for="target">Target Activity</label>
        <input type="text" name="target_activity" placeholder="Bench Press"/>

        <label for="target">Target Number</label>
        <input type="number" name="target_number" placeholder="123"/>

        <label for="startDate">Start Date</label>
        <input type="text" name="startDate" placeholder="01/01/1970"/>

        <label for="endDate">Target Completion Date</label>
        <input type="text" name="endDate" placeholder="01/01/1970"/>

        <label>Milestones</label>
        <div id="milestones">
          <div class="milestone">
            <input type="text" name="milestone_type_0" placeholder="Bench Press"/>
            <input type="number" name="milestone_quant_0" placeholder="123"/>
          </div>
        </div>

        <button type="button" onclick="addMilestone()">Add New Milestone</button>
        <button type="submit">Add New Goal</button>
      </form>
    </div>
  </div>
</div>

<script src="public/js/goals.js"></script>