<div class="login-body">
<div id="newUserTexts">
    <h2 id="newUserPrompt">Time to reach your goals.</h2>
    <br>
</div>

<div id="about">
  <p>
  Make yourself a priority,<br/>
  with EZ-fit it's that easy.<br/>
  </p>
</div>

<div id="info">
  <div class="titleWrapper">
    <span class="line"></span>
    <h1 class="title">
      <span>EZ-Fit</span>
  </div>
</div>

<div id="newUserFormDiv">
    <form method="POST" id="newUserForm">
        <div class="form-group">
            <input type="text" name="firstName" id="firstNameBox" placeholder="First Name" class="form-control" required
                value="{{firstName}}">
                <br>
                <br>
        </div>

        <div class="form-group">
            <input type="text" name="lastName" id="lastNameBox" placeholder="Last Name" class="form-control" required
                value="{{lastName}}">
                <br>
                <br>
        </div>

        <div class="form-group">
            <input type="email" name="email" id="emailBox" placeholder="Email" class="form-control" required
                value="{{email}}">
                <br>
                <br>
        </div>

        <div class="form-group">
            <input type="password" name="password" id="passwordBox1" placeholder="Password" class="form-control"
                required value="{{password}}">
                <br>
                <br>
        </div>

        <div class="form-group">
            <input type="password" name="passwordConfirm" id="passwordBox2" placeholder="Confirm Password"
                class="form-control" required value="{{passwordConfirm}}">

        </div>
        <br>
        <button id="newUserSubmitBtn" type="submit" class="btn btn-primary">Register</button>

        <p class="error">{{error}}</p>
    </form>
    <a href="/">Already a User? Sign in Here!</a>
</div>
</div>